<a href="https://colab.research.google.com/github/zyeeki380-debug/act/blob/main/alvin_espirito.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/zyeeki380-debug/act/refs/heads/main/mobile_game_inapp_purchases.csv')

In [3]:
print ("Original row count", len(df))

Original row count 3024

In [4]:
print(df)

                                    UserID   Age  Gender      Country  \
0     c9889ab0-9cfc-4a75-acd9-5eab1df0015c  49.0    Male       Norway
1     7c9e413c-ecca-45f2-a780-2826a07952a2  15.0    Male  Switzerland
2     fd61e419-1a92-4f43-a8c7-135842ad328a  23.0    Male        China
3     bdb7f6d1-ff9a-468c-afe7-43f32a94293e  31.0    Male       Mexico
4     aa7eec14-4846-47b9-b879-9c98038cda04  37.0  Female        India
...                                    ...   ...     ...          ...
3019  29f9fea9-591d-4e9f-a662-958655d3eb4a  19.0  Female         Iran
3020  c906eb00-fb33-4bf2-97a4-311634cd0d7a  48.0    Male  Switzerland
3021  26e17717-ebec-42a9-aae2-2eff66888119  44.0    Male       France
3022  4d6e2bfb-cb11-411a-942c-4fb7a4832088  45.0    Male       Sweden
3023  37935b2e-9b5d-4a30-bf0f-751d105e31e3  22.0    Male        Egypt

       Device      GameGenre  SessionCount  AverageSessionLength  \
0     Android  Battle Royale             9                 12.83
1         iOS     Action RPG            11                 19.39
2     Android       Fighting             9                  8.87
3     Android         Racing            12                 19.56
4     Android  Battle Royale            10                 15.23
...       ...            ...           ...                   ...
3019  Android       Fighting             7                 34.81
3020      iOS      Adventure             9                 19.45
3021  Android           Card            15                 20.54
3022      iOS       Fighting             8                 14.48
3023  Android      Adventure            10                 28.54

     SpendingSegment  InAppPurchaseAmount  FirstPurchaseDaysAfterInstall  \
0             Minnow                11.40                           28.0
1             Minnow                 6.37                           18.0
2             Minnow                15.81                           30.0
3             Minnow                13.49                            9.0
4             Minnow                10.86                           15.0
...              ...                  ...                            ...
3019          Minnow                12.48                           16.0
3020          Minnow                14.77                           14.0
3021          Minnow                16.69                           24.0
3022          Minnow                17.29                           15.0
3023          Minnow                 4.11                           30.0

        PaymentMethod LastPurchaseDate
0           Apple Pay       2025-03-19
1          Debit Card       2025-06-08
2           Apple Pay       2025-06-02
3          Debit Card       2025-04-01
4              Paypal       2025-05-05
...               ...              ...
3019       Google Pay       2025-05-28
3020  Carrier Billing       2025-07-25
3021        Gift Card       2025-01-25
3022           Paypal       2025-05-07
3023  Carrier Billing       2025-07-06

[3024 rows x 13 columns]

In [5]:
print (df[df.isnull().any(axis=1)])

                                    UserID   Age  Gender  Country   Device  \
7     fc470ea9-111f-4637-a9ff-7162d81e2ec3  34.0  Female  Denmark      iOS
11    a516f724-6b0f-438c-b20b-59f5f35ab06a  31.0    Male   Sweden  Android
29    0d4f2cd8-6cee-4133-8cb2-435a0f6d19ef   NaN  Female   Russia      iOS
31    2868c7dc-a4bc-4143-8256-334e29ec7458  54.0  Female      USA  Android
32    8b27e55c-6841-4e55-ad1d-a953319e7839  34.0  Female      NaN  Android
...                                    ...   ...     ...      ...      ...
2993  e0b23a7f-bc04-41d2-8888-97b17eba2290   NaN  Female   Mexico  Android
2999  85beccb4-3c7e-44bb-aa38-632c335c0bc6   NaN    Male   Canada  Android
3011  c9f7ba9c-65db-462e-99f0-760eee9b729b  51.0    Male   Sweden      iOS
3012  efd47f71-4363-483f-89ba-d87e277a3c2e  35.0    Male  Germany      iOS
3018  8c19377e-ac67-4592-bb9a-ab6eff586782  17.0    Male   Canada      iOS

         GameGenre  SessionCount  AverageSessionLength SpendingSegment  \
7              NaN            15                  5.06          Minnow
11      Simulation            10                 31.10         Dolphin
29         Sandbox            15                  8.90          Minnow
31         Sandbox            13                 21.86          Minnow
32            Card            11                 17.72          Minnow
...            ...           ...                   ...             ...
2993    Simulation             9                 23.09          Minnow
2999        MMORPG             9                 32.72          Minnow
3011           NaN             7                 23.47          Minnow
3012  Role Playing            11                 23.41          Minnow
3018       Sandbox            14                  9.83          Minnow

      InAppPurchaseAmount  FirstPurchaseDaysAfterInstall PaymentMethod  \
7                   19.17                           30.0     Gift Card
11                    NaN                            NaN           NaN
29                   6.24                           13.0    Google Pay
31                    NaN                            NaN           NaN
32                   9.63                           26.0    Google Pay
...                   ...                            ...           ...
2993                 3.25                            1.0        Paypal
2999                 1.74                            0.0        Paypal
3011                15.62                           13.0     Apple Pay
3012                  NaN                            NaN           NaN
3018                  NaN                            NaN           NaN

     LastPurchaseDate
7          2025-04-26
11                NaN
29         2025-04-09
31                NaN
32         2025-04-27
...               ...
2993       2025-04-14
2999       2025-06-21
3011       2025-05-04
3012              NaN
3018              NaN

[412 rows x 13 columns]

In [7]:
df.fillna(0, inplace=True)

In [17]:
df["UserID"] = df["UserID"].fillna(df["UserID"].mode()[0])

In [19]:
df["UserID"] = pd.to_numeric(df["UserID"], errors = 'coerce')

In [20]:
print(df)

      UserID   Age  Gender      Country   Device      GameGenre  SessionCount  \
0        NaN  49.0    Male       Norway  Android  Battle Royale             9
1        NaN  15.0    Male  Switzerland      iOS     Action RPG            11
2        NaN  23.0    Male        China  Android       Fighting             9
3        NaN  31.0    Male       Mexico  Android         Racing            12
4        NaN  37.0  Female        India  Android  Battle Royale            10
...      ...   ...     ...          ...      ...            ...           ...
3019     NaN  19.0  Female         Iran  Android       Fighting             7
3020     NaN  48.0    Male  Switzerland      iOS      Adventure             9
3021     NaN  44.0    Male       France  Android           Card            15
3022     NaN  45.0    Male       Sweden      iOS       Fighting             8
3023     NaN  22.0    Male        Egypt  Android      Adventure            10

      AverageSessionLength SpendingSegment  InAppPurchaseAmount  \
0                    12.83          Minnow                11.40
1                    19.39          Minnow                 6.37
2                     8.87          Minnow                15.81
3                    19.56          Minnow                13.49
4                    15.23          Minnow                10.86
...                    ...             ...                  ...
3019                 34.81          Minnow                12.48
3020                 19.45          Minnow                14.77
3021                 20.54          Minnow                16.69
3022                 14.48          Minnow                17.29
3023                 28.54          Minnow                 4.11

      FirstPurchaseDaysAfterInstall    PaymentMethod LastPurchaseDate
0                              28.0        Apple Pay       2025-03-19
1                              18.0       Debit Card       2025-06-08
2                              30.0        Apple Pay       2025-06-02
3                               9.0       Debit Card       2025-04-01
4                              15.0           Paypal       2025-05-05
...                             ...              ...              ...
3019                           16.0       Google Pay       2025-05-28
3020                           14.0  Carrier Billing       2025-07-25
3021                           24.0        Gift Card       2025-01-25
3022                           15.0           Paypal       2025-05-07
3023                           30.0  Carrier Billing       2025-07-06

[3024 rows x 13 columns]

In [21]:
print (df[df.isnull().any(axis=1)])

      UserID   Age  Gender      Country   Device      GameGenre  SessionCount  \
0        NaN  49.0    Male       Norway  Android  Battle Royale             9
1        NaN  15.0    Male  Switzerland      iOS     Action RPG            11
2        NaN  23.0    Male        China  Android       Fighting             9
3        NaN  31.0    Male       Mexico  Android         Racing            12
4        NaN  37.0  Female        India  Android  Battle Royale            10
...      ...   ...     ...          ...      ...            ...           ...
3019     NaN  19.0  Female         Iran  Android       Fighting             7
3020     NaN  48.0    Male  Switzerland      iOS      Adventure             9
3021     NaN  44.0    Male       France  Android           Card            15
3022     NaN  45.0    Male       Sweden      iOS       Fighting             8
3023     NaN  22.0    Male        Egypt  Android      Adventure            10

      AverageSessionLength SpendingSegment  InAppPurchaseAmount  \
0                    12.83          Minnow                11.40
1                    19.39          Minnow                 6.37
2                     8.87          Minnow                15.81
3                    19.56          Minnow                13.49
4                    15.23          Minnow                10.86
...                    ...             ...                  ...
3019                 34.81          Minnow                12.48
3020                 19.45          Minnow                14.77
3021                 20.54          Minnow                16.69
3022                 14.48          Minnow                17.29
3023                 28.54          Minnow                 4.11

      FirstPurchaseDaysAfterInstall    PaymentMethod LastPurchaseDate
0                              28.0        Apple Pay       2025-03-19
1                              18.0       Debit Card       2025-06-08
2                              30.0        Apple Pay       2025-06-02
3                               9.0       Debit Card       2025-04-01
4                              15.0           Paypal       2025-05-05
...                             ...              ...              ...
3019                           16.0       Google Pay       2025-05-28
3020                           14.0  Carrier Billing       2025-07-25
3021                           24.0        Gift Card       2025-01-25
3022                           15.0           Paypal       2025-05-07
3023                           30.0  Carrier Billing       2025-07-06

[3024 rows x 13 columns]

In [22]:
print(df)

      UserID   Age  Gender      Country   Device      GameGenre  SessionCount  \
0        NaN  49.0    Male       Norway  Android  Battle Royale             9
1        NaN  15.0    Male  Switzerland      iOS     Action RPG            11
2        NaN  23.0    Male        China  Android       Fighting             9
3        NaN  31.0    Male       Mexico  Android         Racing            12
4        NaN  37.0  Female        India  Android  Battle Royale            10
...      ...   ...     ...          ...      ...            ...           ...
3019     NaN  19.0  Female         Iran  Android       Fighting             7
3020     NaN  48.0    Male  Switzerland      iOS      Adventure             9
3021     NaN  44.0    Male       France  Android           Card            15
3022     NaN  45.0    Male       Sweden      iOS       Fighting             8
3023     NaN  22.0    Male        Egypt  Android      Adventure            10

      AverageSessionLength SpendingSegment  InAppPurchaseAmount  \
0                    12.83          Minnow                11.40
1                    19.39          Minnow                 6.37
2                     8.87          Minnow                15.81
3                    19.56          Minnow                13.49
4                    15.23          Minnow                10.86
...                    ...             ...                  ...
3019                 34.81          Minnow                12.48
3020                 19.45          Minnow                14.77
3021                 20.54          Minnow                16.69
3022                 14.48          Minnow                17.29
3023                 28.54          Minnow                 4.11

      FirstPurchaseDaysAfterInstall    PaymentMethod LastPurchaseDate
0                              28.0        Apple Pay       2025-03-19
1                              18.0       Debit Card       2025-06-08
2                              30.0        Apple Pay       2025-06-02
3                               9.0       Debit Card       2025-04-01
4                              15.0           Paypal       2025-05-05
...                             ...              ...              ...
3019                           16.0       Google Pay       2025-05-28
3020                           14.0  Carrier Billing       2025-07-25
3021                           24.0        Gift Card       2025-01-25
3022                           15.0           Paypal       2025-05-07
3023                           30.0  Carrier Billing       2025-07-06

[3024 rows x 13 columns]